@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 29 29 29;
  --color-surface: 51 63 0;
  --color-border: 46 48 33;
  --color-primary: 255 255 255;
  --color-muted: 150 150 142;
  --color-accent: 179 230 17;
}

body {
  background: rgb(var(--color-background));
  color: rgb(var(--color-primary));
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}
